@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Montserrat&family=Poppins&display=swap");

* {
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(#829ebf, #ffc2e2);
  color: #4a4343;
  letter-spacing: 0.5px;
}

header,
nav,
footer {
  display: flex;
  align-items: center;
}

nav {
  padding: 37px 20px 20px 65px;
  font-size: 40px;
}

header {
  flex-direction: column;
  text-align: center;
  padding: 10px 20px;
  font-weight: 600;
}

header figure {
  justify-content: center;
  margin: 63px 30px 50px;
  font-size: 24px;
}

header figcaption {
  margin-top: 2px;
}

header figcaption span {
  color: #ab4e68;
}

header figcaption p {
  padding: 3px;
}

section {
  flex-direction: column;
  padding: 30px;
}

section div header {
  display: flex;
  flex-direction: row;
}

section .About,
.Projects,
.Skills {
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-right: 35px;
  padding-bottom: 50px;
}

section .About .About_head img,
.Projects .Projects_head img,
.Skills .Skills_head img {
  margin-right: 14px;
  height: 31px;
  width: 31px;
}

section .About .Text {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
  padding-left: 30px;
}

section .About .Text p {
  padding: 10px;
}

section .About span {
  color: #ab4e68;
}

section .Projects .Projects_content {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

section .Projects .Projects_content .project {
  width: 317px;
  height: 160px;
  border-radius: 21px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin: 35px;
  background-color: #f1f2f2;
}

section .Projects .Projects_content .project span {
  font-size: 20px;
  color: #ab4e68;
}

section .Projects .Projects_content .project p {
  padding: 20px;
}

section .Skills .Skills_content {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
}

section .Skills .Skills_content .skill {
  width: 139px;
  height: 58px;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  color: #f1f2f2;
  padding: 14px, 33px, 33px, 14px;
  margin: 39px;
  background-color: #ab4e68;
}

section .Skills .Skills_content .skill p {
  padding-top: 15px;
}

footer {
  display: flex;
  justify-content: center;
  margin: 10px 20px 20px 10px;
}
